.project-card {
    > .contentbox {
        > .title {
            font-size: 1.7rem;
            font-family: 'Prata', serif;

            > .link {
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
        }

        > .description {
            opacity: .7;
        }
    }
}