body {
    line-height: 1.6;
    background-color: #000;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.image {
    max-width: 100%;
    display: block;
    height: auto;
}

.max-container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
